<div id="creative">
	<div class="nested-fields">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 style="display:inline" class="panel-title">Creative</h3>
				<%= link_to_remove_association "Remove", f, :class => 'btn btn-danger btn-xs'%>
			</div>
			<div class="panel-body">
				
					<div class="col-sm-12" style="margin-bottom: 10px">
						<div class="field">
							<div class="col-sm-4">
							<%= f.label :bid %>
							</div>
							<div class="col-sm-8">
							<%= f.text_field :bid, class: 'form-control'%>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="field">
							<div class="col-sm-4"><%= f.label :adtext %></div>
							<div class="col-sm-8"><%= f.text_area :adtext, class: 'form-control' %></div>
							<br>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>