<div id="targeting">
<div class="nested-fields">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 style="display:inline" class="panel-title">Targeting</h3>
			<%= link_to_remove_association "Remove", f, :class => 'btn btn-danger btn-xs'%>
		</div>
		<div class="panel-body">

			
				<div class="field">
				
					<div class="col-sm-12">
						<h3>Gender</h3>
					</div>
					<div class="col-sm-12 col-md-4">
						<%= f.label 'feminino' %>
						<%= f.radio_button :gender, 'feminino', class: 'checkbox'%>
					</div>
					<div class="col-sm-12 col-md-4">
						<%= f.label 'masculino' %>
						<%= f.radio_button :gender, 'masculino', class: 'checkbox'%>
					</div>
					<div class="col-sm-12 col-md-4"style="margin-bottom:15px;">
						<%= f.label 'indeterminado' %>
						<%= f.radio_button :gender, 'indeterminado', class: 'checkbox'%>
					</div>
				
				</div>


			
					


						<%= f.fields_for :places do |place| %>
							<%= render 'place_fields', f: place %>
						<% end %>
						<div class="col-sm-12" style="margin-bottom:15px;">
							<div class="links">
								<%= link_to_add_association 'Add Place', f, :places, :class => 'btn btn-primary col-sm-4', :style => 'float:right'%>
							</div>
						</div>
					
				




			

		</div>
	</div>
	</div>
</div>