<h1>Editing Ad #<%= @ad.id %></h1>

<%= form_for @ad do |f| %>


	<% if @ad.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@ad.errors.count, "error") %> prohibited this article from being saved:
			</h2>
			<ul>
				<% @ad.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :budget %><br>
		<%= f.text_field :budget, class: 'form-control' %>

	</p>

	<p>
		<%= f.fields_for :creatives do |creative| %>
			<%= render 'creative_fields', f: creative %>
		<% end %>
		<div class="links">
			<%= link_to_add_association 'Add Creative', f, :creatives, :class => 'btn btn-success' %>
		</div>

	</p>

	<p>
		<%= f.fields_for :targetings do |targeting| %>
			<%= render 'targeting_fields', f: targeting %>
		<% end %>
		<div class="links">
			<%= link_to_add_association 'Add Targeting', f, :targetings, :class => 'btn btn-success' %>
		</div>
	</p>

	<p>
		<%= f.submit 'Update Ad', :class => 'btn btn-success' %>
	</p>


<% end %>

<%= link_to 'Cancel', ads_path, class: 'btn btn-danger' %>