<script>

	var curr = 1;

	$(document).ready(function(){
		var pageList = document.getElementsByClassName("page");
		for (var i = 1; i <= pageList.length; i++)
		{
			var li = document.createElement("li");
			li.setAttribute("id", i);
			li.innerHTML = '<a href="#page-'+i+'">'+i+'</a>';
			$("#prev").before(li);
		}
	});

	$(document).ready(function(){
		$("li").on("click", function(){
			var $li = $(this);
			var targetPage = "#page-" + curr;
			$(targetPage).hide();
			var id = $li.attr("id");
			
			if (id === "next")
			{
				if (curr > 1) curr = curr - 1;

			} else if (id == "prev")
			{
				var max = $("#pagination").children().length - 2;
				if (curr < max) curr = curr + 1;
			} else
			{
				curr = id;
			}

			targetPage = "#page-" + curr;
			$(targetPage).show();
		});
	});
</script>


<h1 style="text-align: center">Ads</h1> 
<p>
<%= link_to 'Add new Ad', new_ad_path, class: 'btn btn-success' %><br>
</p>

<% currIndex = 0 %>
<% adIndex = 0 %>
<% prevAdIndex = 0 %>
<% openDiv = false %>
<% closeDiv = false %>

<% @ads.each_with_index do |ad, index| %>

	<% if ad.id == 10 %>
		<% adIndex = 1%>
	<% else %>
		<% adIndex = (ad.id/10)+1 %>
	<% end %>

	<% if ad.id % 10 == 1 %>
		<% openDiv = true %>
	<% else %>
		<% if ad.id % 10 == 0 %>
			<% closeDiv = true %>
		<% end %>
	<% end %>

	<% if openDiv %>
		<% if adIndex == 1 %>
			<div class="page" id="page-<%=adIndex%>">
		<% else %>
			<div class="page" id="page-<%=adIndex%>" hidden>
		<% end %>
		<% openDiv = false %>
	<% end %>
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 style="display:inline" class="panel-title">Ad #<%=ad.id%></h3>
				<span style=""><%= link_to 'Edit', edit_ad_path(ad), class: 'btn btn-info' %><span>
			</div>
			<div class="panel-body">
				<p>
					Budget = <%= ad.budget %>
				</p>
			</div>
		</div>

	<% if closeDiv %>
		</div>
		<% closeDiv = false %>
	<% end %>

	<% if ad.id % 10 != 0 %>
		<% if index == @ads.size - 1%>
			</div>
		<% end %>
	<% end %>

<% end %>


<nav>
  <ul id="pagination" class="pagination">
    <li id="next">
      <a href="#page-1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <!--<li><a href="#page-1">1</a></li>
    <li><a href="#page-2">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>-->
    <li id="prev">
      <a href="#page-2" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>