<script>

	/*
		The code inside this script tag will be responsible for the pagination feature.	
	*/

	var curr = 1; // 'curr' keeps track of the current page.


	/*
		The following code is responsible for getting all groups of 10 ads each and adding a link to that group on the pagination navbar.
	*/
	$(document).ready(function(){
		var pageList = document.getElementsByClassName("page");
		for (var i = 1; i <= pageList.length; i++)
		{
			var li = document.createElement("li");
			li.setAttribute("id", i);
			
			if (i==1) li.setAttribute("class",  "active");

			li.innerHTML = '<a href="#page-'+i+'">'+i+'</a>';
			$("#next").before(li);
		}
	});


	/*
		The following code is responsible for managing when a user clicks a link on the pagination navbar by changing the 'curr' variable to the specific page or 'curr++' if user hits "next" link or 'curr--' if user hits "prev" link.
	*/
	$(document).ready(function(){
		$("li").on("click", function(){
			var targetPage = "#page-" + curr;
			$(targetPage).hide();
			$("#"+curr).toggleClass("active");

			var $li = $(this);
			var id = $li.attr("id");
			var max = $("#pagination").children().length - 2;
			if (id === "prev")
			{
				if (curr > 1) curr = curr - 1;
				
				

			} else if (id == "next")
			{
				
				if (curr < max) curr = curr + 1;
				
			} else
			{
				curr = parseInt(id);
			}

			targetPage = "#page-" + curr;
			$(targetPage).show();

			$("#"+curr).toggleClass("active");
		});
	});
</script>


<h1>Ads</h1> 
<p>
<%= link_to 'Create new Ad', new_ad_path, class: 'btn btn-primary' %><br>
</p>

<!-- 
	The following Ruby variables are responsible to hold values for the algorithm that fetches all the Ads and puts them into groups of 10.

	Each 10 group of Ads is in a div with class="page-{page id here}".
-->

<% adIndex = 0 %>
<% openDiv = false %>
<% closeDiv = false %>
<% adCount = 1 %>

<% @ads.each_with_index do |ad, index| %>

<!--
	Part of the grouping algorithm that decides when to open a div for a group of Ads.
-->

	<% if adCount == 10 %>
		<% adIndex = 1%>
	<% else %>
		<% adIndex = (adCount/10)+1 %>
	<% end %>

	<% if adCount % 10 == 1 %>
		<% openDiv = true %>
	<% else %>
		<% if adCount % 10 == 0 %>
			<% closeDiv = true %>
		<% end %>
	<% end %>

	<% if openDiv %>
		<% if adIndex == 1 %>
			<div class="page" id="page-<%=adIndex%>">
		<% else %>
			<div class="page" id="page-<%=adIndex%>" hidden>
		<% end %>
		<% openDiv = false %>
	<% end %>
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Ad #<%=ad.id%></h3>
				<div style="float:right">
					<%= link_to 'Edit', edit_ad_path(ad), class: 'btn btn-warning btn-xs' %>
					<%= link_to 'Remove', ad_path(ad), method: :delete, class: 'btn btn-danger btn-xs' %>
				</div>
				
				<h4 style="display: inline;">Budget $<%= number_with_precision(ad.budget, precision: 2) %></h4>
			</div>
			<div class="panel-body">
				

				<div class="col-sm-12 col-md-6">
				<% if ad.creatives.any? %>
					<% ad.creatives.each_with_index do |creative, index| %>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Creative #<%= index+1 %></h3>
								<h4 style="display:inline">Bid: $<%= number_with_precision(creative.bid, precision: 2) %></h4>
							</div>
							<div class="panel-body">
								<h4 style="text-align: center">AdText</h4>
								<p style="text-align: center">
									<%= creative.adtext %>
								</p>
							</div>
						</div>
					<% end %>
				<% end %>
				</div>

				<div class="col-sm-12 col-md-6">

				<% if ad.targetings.any? %>
					<% ad.targetings.each_with_index  do |targeting, index| %>
						<% if targeting.gender.size >0 || targeting.places.any? %>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Targeting #<%= index+1 %></h3>
								<% if targeting.gender.blank? %>
									<h4 style="display: inline">No Gender</h4>
									
								<% else %>
									<h4 style="display: inline"> Gender: <%= targeting.gender %></h4>
								<% end %>
							</div>
							<div class="panel-body">
								

								<% if targeting.places.any? %>
									<ul style="text-align: center;list-style-type: none"><h4>Places:</h4>
									<% targeting.places.each_with_index do |place, i| %>
										<li><%= place.name %></li>
									<% end %>
									<ul>
								<% end %>

							</div>
						</div>
						<% end %>
					<% end %>
				<% end %>
				</div>


			</div>
		</div>


<!--
	Part of the grouping algorithm that decides when to close the div for a group of Ads.
-->


	<% if closeDiv %>
		</div>
		<% closeDiv = false %>
	<% end %>

	<% if adCount % 10 != 0 %>
		<% if index == @ads.size - 1%>
			</div>
		<% end %>
	<% end %>

	<% adCount = adCount + 1 %>

<% end %>


<nav style="text-align: center">
  <ul id="pagination" class="pagination">
    <li id="prev">
      <a href="#page-1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li id="next">
      <a href="#page-2" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>