<script>

	$(document).ready(function(){
		$("#add_creative").on("click", function(){
			
		});
	});

</script>


<h1>New Ad</h1>


<%= form_for @ad do |f| %>
	<% if @ad.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@ad.errors.count, "error") %> prohibited this article from being saved:
			</h2>
			<ul>
				<% @ad.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :budget %><br>
		<%= f.text_field :budget, class: 'form-control'%>
	</p>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 style="display:inline" class="panel-title">Creatives</h3>
		</div>
		<div class="panel-body">
			<div id="creatives">

				<% f.fields_for :creatives do |creative| %>
					<%= render 'creative_fields', f: creative %>
				<% end %>
				<div class="links">
					<%= link_to_add_association 'Add Creative', f, :creatives, :class => 'btn btn-success' %>
				</div>
			</div>
		</div>
	</div>


	<p>
		<%= f.submit 'Add Ad', :class => 'btn btn-success'%>
	</p>

<% end %>

<%= link_to 'Cancel', ads_path, class: 'btn btn-danger' %>